@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: blue;
    color: white;
    height: 12vh;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: blue;
    font-family: 'Lato', sans-serif;
    
    
   
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    /* color: black; */
    /* font-style: bold; */
    font-weight: bolder;
}
nav ul{
    height: 58px;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 50px;
    padding-left: 20px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    
    width: 30vw;
    height: 25px;
    border-radius: 3px;
    margin: 0 10px 0 70px;
    padding: 2px 10px;

}
.slider{
    display: flex;
    justify-content:center;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.search button{
    
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    
}
.h{

    display: flex;
    justify-content:center;
    margin: 25px 0px;
    /* align-items: center; */
}
.carts{
   
    display: flex;
    justify-content: center;
    width: 92vw;
    margin: auto 65px;
    overflow: hidden;
    

}
.cart{
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:16px ;
    margin-right: 16px;
}
.cart img{
    width: 168px;
    height: 157px;
}
.pcenter{
    text-align: center;
    margin: 10px;
}

.pcentercolor{
    color: rgb(30, 150, 30);
    font-size: 14px;
}